@if (projects !== null) {
  <app-page [fullWidth]="true">
    <span page-title>Projects</span>
    <button mat-flat-button color="primary" class="create-project-button" routerLink="/editor">
      <mat-icon>add</mat-icon>
      Create New
    </button>
    <div class="projects">
      @for (savedProject of projects; track savedProject) {
        <app-saved-project-view routerLink="/editor/{{savedProject.id}}" [savedProject]="savedProject" (removeClick)="onRemoveClick(savedProject)"></app-saved-project-view>
      }
    </div>
  </app-page>
}